.wrapper{
  min-height: 240px;
  display: grid;
  grid-template-rows: 1fr 20px;
  grid-gap: 8px;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 48px;
  background: rgba(#ccc, 1);
  //border-top-left-radius: 8px;
  //border-top-right-radius: 8px;
  transition: 0.2s color;
  border-radius: 6px;

  font-size: 24px;
  font-weight: bold;
  color: white;
}

.label{
  color: gray;
}

.primary{
  padding: 12px;
}

.inner{
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: auto;
  background: #1199EE;
  align-items: self-end;
}
