.wrapper{
    display: flex;
    font-weight: 700;
    font-size: 36px;

    @media (max-width: 720px) {
        font-size: 24px;
    }
}


.item{
    transition: 0.2s;
    color: #bbb;
    margin-right: 12px;

    &:last-child{
        margin-right: 0;
    }
}

.active{
    color: black;
}
